/* css para ejercicio1_parrafos.xml */

titulo, autor, fechaPublicacion {
  display: block;
  font-family: sans-serif;
}
/* poner una linea debajo el elemento y un margen despues */
fechaPublicacion {
  border-bottom: 1px black solid;
  margin-bottom: 10px;
}
/* titulo negrita */
titulo {
  font-weight: bold;
}
