/* css para ejercicio1_parrafos.xml */

/* bloque con fondo y borde, con margen y separacion dentro*/
libro {
  display: block;
  background-color: lightgreen;
  border: black 3px solid;
  padding: 8px;
  margin: 8px;
}
/* texto en bloque linea a linea */
titulo, autor, fechaPublicacion {
  display: block;
  font-family: sans-serif;
}
/* titulo negrita*/
titulo {
  font-weight: bold;
}
