/* css para ejercicio2_listas.xml */

/* tipo de letra para todo*/
ies {
  font-family: sans-serif;
}
/* vision de bloque linea a linea*/
ciclo, nombreCentro, web {
  display: block;
}
/* separacion entre ciclos y reseteo de contador */
ciclo {
  margin-bottom: 10px;
}

/* ver como una lista, tipo de lista y margen */
grado, decretoTitulo {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 30px;
}
/*creacion del contador de nombreciclos*/
ciclos {
  counter-reset: cuentaciclos;
}
nombre:before {
  content: counter(cuentaciclos) ". ";
  counter-increment: cuentaciclos;
}
nombre {
  display: block;
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 10px;
}
/* tamaño del nombre y separacion*/
nombreCentro {
  font-size: 25px;
  margin: 10px;
}
/* separacion del nombre y la web con cada parte*/
web {
  margin: 10px;
}
