/* css para ejercicio2_listas.xml */

/* tipo de letra para todo*/
ies {
  font-family: sans-serif;
}
/* vision de bloque linea a linea*/
nombreCentro, web {
  display: block;
}
/*tamaño*/
nombreCentro {
  font-size: 20px;
}
/* sepacion por debajo*/
web {
  margin-bottom: 10px;
}
/*tabla con borde y ancho de espacio, ajustado auto*/
ciclos {
  display: table;
  border: 1px black solid;
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
}
/*cada ciclo como fila*/
ciclo {
  display: table-row;
}
/* tabla como celda y con padding y borde*/
nombre, grado, decretoTitulo {
  display: table-cell;
  border: 1px solid black;
  padding: 10px;
}
