/* css para ejercicio2_listas.xml */

/* ies como tabla*/
ies {
  font-family: sans-serif;
  display: table;
  border-spacing: 10px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
/* vision de nombreCentro*/
nombreCentro {
  display: table-caption;
  text-align: center;
  background-color: lightgrey;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

/* no ver web*/
web {
  display: none;
}

/*cada ciclo como fila*/
ciclo {
  display: table-row;
}
/* tabla como celda y con padding y borde*/
nombre, grado, decretoTitulo {
  display: table-cell;
  border: 1px solid black;
  padding: 10px;
}
