/* css para cd_catalog.xml */

CATALOG {
  background-color: pink;
  display: inline;
}
TITLE {
  font-size: 20px;
  color: blue;
}

TITLE,ARTIST,COUNTRY,COMPANY,PRICE,YEAR {
  margin-left: 10px;
  margin-bottom: 10px;
}

CD {
  display: table;
  border: 2px solid green;
  margin: 4px;
}

.fondo {
  background-color: red;
  -moz-box-sizing: 20px;
}

#subrayado {
  text-decoration: underline;
  text-align: center;
  background-color: yellow;
  -moz-box-sizing: 20px;
}
