/*body*/
body, html {
  	height: 100%;
  	margin: 0;
  	padding: 0;
    background-color: black;
    box-sizing: border-box;
  }
body div {
  padding: 10%;
  background-color: white;
}
/*texto del centro*/
texto {
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

#negro:hover {
  background-color: black;
}

#rojo:hover {
  background-color: red;
}

#naranja:hover {
  background-color: orange;
}

#amarillo:hover {
  background-color: yellow;
}

#verde:hover {
  background-color: #08fa25;
}

#azulito:hover {
  background-color: #5ac9f9;
}

#azulon:hover {
  background-color: blue;
}

#lila:hover {
  background-color: purple;
}
