
aeroport {
  display: table;
  font-family: sans-serif;
  border: 1px black solid;
  margin-left: auto;
  margin-right: auto;
}
nom {
  display: table-caption;
  text-align: center;
  background-color: lightblue;
  font-size: 40px;
  color: blue;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px blue double;
}
vols {
  display: table-row;
  margin-left: 5px;
  background-color: orange;
}

diari, origen, desti, hora-arribada, hora-sortida, estado {
  display: table-cell;
  border: 1px black solid;
  padding: 3px;
  margin-left: 5px;
}
vol {
  display: table-row;
  border: 1px black solid;
  margin-left: 5px;
  text-align: center;
}

data {
  display: table-cell;
  border: 1px black solid;
  font-style: italic;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  background-color: lightgrey;
  color: purple;
}

[estat=O] {
  background-color: lightgreen;
}

[estat=D] {
  background-color: yellow;
}

[estat=C] {
  background-color: red;
}
