/*body*/
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
  background-color: white;
  box-sizing: border-box;
}
/*todos los divs*/
/*div {
  box-sizing: border-box;
}
/*div arriba izquierda*/
divA {
  float: left;
  width: 50%;
  height: 50%;
  margin-top: 0%;
  margin-left: 0%;
}
/*div arriba derecha*/
divB {
  float: left;
  width: 50%;
  height: 50%;
  margin-top: 0%;
  margin-right: 0%;
  /*background-color: #fab208;*/
}
/*div rectangulo total*/
divC {
	float: left;
  width: 50%;
  height: 50%;
  margin-bottom: 0%;
  margin-left: 0%;
  /*background-color: #fab208;*/
}
/*div rectangulo pequeño*/
divD {
	float: left;
  width: 50%;
  height: 50%;
  margin-top: 0%;
  margin-right: 0%;
}

barra1 {
	float: left;
  background-color: #fab208;
  height: 100%;
  width: 11.11%;
}

barra2 {
	float: left;
  background-color: red;
  height: 100%;
  width: 11.11%;
}

barra3 {
	float: left;
  background-color: #fab208;
  height: 100%;
  width: 11.11%;
}

barra4 {
	float: left;
  background-color: red;
  height: 100%;
  width: 11.11%;
}

barra5 {
	float: left;
  background-color: #fab208;
  height: 100%;
  width: 11.11%;
}

barra6 {
	float: left;
  background-color: red;
  height: 100%;
  width: 11.11%;
}

barra7 {
	float: left;
  background-color: #fab208;
  height: 100%;
  width: 11.11%;
}

barra8 {
	float: left;
  background-color: red;
  height: 100%;
  width: 11.11%;
}

barra9 {
	float: left;
  background-color: #fab208;
  height: 100%;
  width: 11.11%;
}

div1 {
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 0%;
	margin-left: 0%;
	border-right: 25px solid red;
	border-bottom: 25px solid red;
	box-sizing: border-box;
}

div2 {
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 0%;
	margin-right: 0%;
	border-left: 25px solid red;
	border-bottom: 25px solid red;
	box-sizing: border-box;
}

div3 {
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 0%;
	margin-left: 0%;
	border-right: 25px solid red;
	border-top: 25px solid red;
	box-sizing: border-box;
}

div4 {
	float: left;
	height: 50%;
	width: 50%;
	margin-top: 0%;
	margin-right: 0%;
	border-left: 25px solid red;
	border-top: 25px solid red;
	box-sizing: border-box;
}
