/*body html*/
body, html {
  	height: 100%;
  	margin: 0;
  	padding: 0;
    background-color: lightblue;
    box-sizing: border-box;
    font-weight: bold;
}

h1 {
    text-align: center;
    border: 2px solid blue;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #08c5fa;
    color: white;
}
div.calc {
  display: block;
  background-color: #08fad1;
  height: 40%;
  text-align: center;
  vertical-align: center;
  padding-top: 2%;
  border: 2px solid green;
  margin-left: 30%;
  margin-right: 30%;
}

[type="number"]:hover {
  background: #3cf948;
}

[type="submit"]:hover {
  background: #3cc5f9;
  padding: 4px;
  border: 2px solid blue;
  color: white;
  font-weight: bold;
}

[value="operacion"]:hover {
  background: #3cf948;
  color: white;
  font-weight: bold;
}
