/*body html*/
body, html {
  	height: 100%;
  	margin: 0;
  	padding: 0;
    background-color: #08c5fa;
    box-sizing: border-box;
    font-weight: bold;
}

h1 {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  color: red;
}

h5 {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  color: yellow;
}

p {
  color: red;
}

div.comunidad {
  display: block;
  height: 40%;
  text-align: center;
  vertical-align: center;
}

[type="submit"]:hover {
  background: red;
  color: yellow;
}

select:hover {
  background: pink;
}
