/*body html*/
body, html {
  	height: 100%;
  	margin: 0;
  	padding: 0;
    background-color: #08c5fa;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-style: oblique;
    color: white;
}
div.login {
  display: block;
  height: 30%;
  text-align: center;
  vertical-align: center;
  padding-top: 2%;
  border: 2px solid blue;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #b9fffe;
}

[type="submit"]:hover {
  background: #08c5fa;
  color: white;
  font-weight: bold;
}

label {
  font-weight: bold;
  color: #08c5fa;
}

[type="password"]:hover {
  background-color: #00fbfe;
}

[type="text"]:hover {
  background-color: #00fbfe;
}
