/*body html*/
body, html {
  	height: 100%;
  	margin: 0;
  	padding: 0;
    background-color: pink;
    box-sizing: border-box;
}

div.principal {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

div.titulo {
  background-color: pink;
  float: left;
  width: 100%;
  height: 10%;
}

h1 {
  text-align: center;
  vertical-align: center;
}

div.carta {
  float: left;
  background-color: lightgreen;
  padding-left: 1%;
  width: 49%;
  height: 55%;
  padding-bottom: 0.5%;
}

div.pizzas {
  float: left;
  background-color: lightblue;
  padding-left: 1%;
  height: 55%;
  width: 49%;
}

div.hamburguesa {
  display: block;
  background-color: yellow;
  height: 40%;
  text-align: center;
  vertical-align: center;
}

div.observaciones {
  display: block;
  background-color: pink;
  height: 35%;
  text-align: center;
  vertical-align: center;
}

p {
  font-style: italic;
  font-style: oblique;
  color: blue;
}
